/* Réinitialisation des marges et des paddings pour une meilleure mise en page */



ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: #333333;
}

.col {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    /* Vous pouvez ajuster la taille selon vos préférences */
    font-weight: bold;
    /* Pour mettre le texte en gras */
}


#row1 {
    height: 500px;
    background-image: url('./assets/img/ca.jpg');
    background-size: cover;
    background-position: center;
    color: #f2eeee;
    text-align: center;
}

.hero-section .btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Styles pour les autres sections */
.about-section,
.services-section,
.contact-section {
    padding: 100px 20px;
    background-color: #f5f5f5;
    color: #333333;
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-menu {
    background-color: rgba(243, 243, 248, 0.657);
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}

.scroll-to-top .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    display: none;
}

.scroll-to-top .btn:hover {
    opacity: 0.8;
}

.overlay h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 30px;
}

.overlay .btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.custom-card .card-body {
    background-color: rgba(255, 255, 255, 0.5);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-images {
    display: flex;
    width: 200%;
    animation: scroll 20s linear infinite;
}

.image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.mach-ch {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.mach-chh {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(8, 8, 8);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(243, 245, 247, 0.801);

}
.mach-chhh {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border:#333333;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;

}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-1 {
    transition-delay: .1s;
}

.reveal-2 {
    transition-delay: .2s;
}

.reveal-3 {
    transition-delay: .3s;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(95, 64, 231);
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(158, 178, 233) 60%, rgb(77, 147, 238) 88%,
    rgb(77, 147, 238) 88%, rgba(86, 59, 206, 0.603) 48%);
    color: rgb(10, 10, 10);
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(127, 148, 238) 30%, rgb(74, 191, 226) 88%,
            bisque 40%,  rgb(127, 148, 238));
    color: white;
    transform: rotateY(180deg);
}


